<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1574051411157-1a802b6801fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">

  <div class="container" >
    <div class="banner-form">
      <h2 class="font-weight-bold" >What would you read next?</h2>
      <div class="searchbar d-flex align-items-center my-4">
        <form action="/books" method="get" class="form-inline my-lg-0"> 
          <input class="form-control mr-sm-2 element" placeholder="Harry Potter, Musso ..." name="query" type="search" aria-label="Search"> 
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button> 
        </form> 
      </div>
    </div>
  </div>
</div>

<h2 class="text-center font-weight-bold p-4">A selection of what you can read</h2>

<div class="container mt-3">
  <div class="row">
    <% @books.each do |book| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card-style">
          <div class="cover-style">
            <%= link_to book_path(book) do %>
              <div style='background-size: cover; background-position: center; height: 300px; width: 100%; background-image: url("<%= cl_image_path(book.photo.key) %>")'>
              </div>
              <h1> <%= book.title %></h1>
              <% if policy(book).update? %>

                <%= link_to edit_book_path(book.id), data: { confirm: "Update #{book.title}?" } do %>  Edit <% end %>

              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
