<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 bg-light rounded shadow-sm p-4">
      <h2>Lend a new book!</h2>
        <%= render 'form', book: @book %>
    </div>
  </div>
</div>
