
.card-style {
  background-size: cover;
  background-position: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 15px;
  border: 1px, solid;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.card-style h1 {
  font-size: 32px;
  font-weight: bold;
  color: #1F999D;
}

.card-style h2 {
  font-size: 24px;
}

.card-style p {
  font-size: 16px;
}

.card-style a {
  font-size: 16px;
  color: #41514E;
  text-align: center;
}

.card-style:hover a  {
  color: #1F999D;
}
