a:hover {
  text-decoration: none;
}

.card-style {
  background-color: white;
  border: 1px, solid;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  height: 420px;
  border-radius: 4px;
}

.card-style h1 {
  font-size: 15px;
  font-weight: bold;
  color: #1F999D;
}

.card-img-thumbnail {
  background-size: cover;
  background-position: center;
  height: 300px;
}
