.map-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 50%;
  height: 50vh;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Ruboto', sans-serif;
}
